apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: workspace-test
  namespace: mogenius-argo-cd
  labels:
    managed-by: mogenius
    workspaceName: workspace1
spec:
  destination:
    name: in-cluster
    namespace: ns2
  syncPolicy:
    automated:
      prune: true
  project: mogenius
  source:
    repoURL: https://helm.mogenius.com/public
    targetRevision: 1.2.1
    chart: moac
    helm:
      releaseName: workspace-test
      valuesObject:
        configmaps: []
        sealedSecrets: []
        controllers: []
        services:
          - nfs-server-pod-test4:
              spec:
                clusterIP: 10.103.220.0
                clusterIPs:
                  - 10.103.220.0
                internalTrafficPolicy: Cluster
                ipFamilies:
                  - IPv4
                ipFamilyPolicy: SingleStack
                ports:
                  - name: nfs-udp
                    port: 2049
                    protocol: UDP
                    targetPort: 2049
                  - name: nfs
                    port: 2049
                    protocol: TCP
                    targetPort: 2049
                  - name: rpcbind
                    port: 111
                    protocol: TCP
                    targetPort: 111
                  - name: port-946
                    port: 946
                    protocol: TCP
                    targetPort: 946
                  - name: mountd-49135
                    port: 49135
                    protocol: TCP
                    targetPort: 49135
                  - name: mountd-2048
                    port: 2048
                    protocol: TCP
                    targetPort: 2048
                  - name: lockd-2045
                    port: 2045
                    protocol: TCP
                    targetPort: 2045
                  - name: statd-2046
                    port: 2046
                    protocol: TCP
                    targetPort: 2046
                  - name: statd-2047
                    port: 2047
                    protocol: TCP
                    targetPort: 2047
                  - name: stadtd-2045-udp
                    port: 2045
                    protocol: UDP
                    targetPort: 2045
                  - name: statd-2046-udp
                    port: 2046
                    protocol: UDP
                    targetPort: 2046
                  - name: statd-2047-udp
                    port: 2047
                    protocol: UDP
                    targetPort: 2047
                  - name: rpcbind-udp
                    port: 111
                    protocol: UDP
                    targetPort: 111
                selector:
                  app: nfs-server-pod-test4
                sessionAffinity: None
                type: ClusterIP
          - my-deployment2:
              spec:
                clusterIP: 10.100.255.220
                clusterIPs:
                  - 10.100.255.220
                internalTrafficPolicy: Cluster
                ipFamilies:
                  - IPv4
                ipFamilyPolicy: SingleStack
                ports:
                  - name: 80-my-deployment2
                    port: 80
                    protocol: TCP
                    targetPort: 80
                selector:
                  app: my-app
                sessionAffinity: None
                type: ClusterIP
        ingresses:
          - ingress-my-container-image-ka59qa:
              annotations:
                cert-manager.io/cluster-issuer: letsencrypt-cluster-issuer
              labels:
                mo-app: my-container-image-ka59qa
              spec:
                ingressClassName: traefik
                rules:
                  - host: my-container-image-ka59qa-vmmcti.local.mogenius.io
                    http:
                      paths:
                        - backend:
                            service:
                              name: my-container-image-ka59qa
                              port:
                                number: 6379
                          path: /
                          pathType: Prefix
                tls:
                  - hosts:
                      - my-container-image-ka59qa-vmmcti.local.mogenius.io
                    secretName: my-container-image-ka59qa-tls
          - ingress-my-deployment2:
              labels:
                mo-app: my-deployment2
              spec:
                ingressClassName: traefik
                rules:
                  - host: my-deployment2-pnrnrv.local.mogenius.io
                    http:
                      paths:
                        - backend:
                            service:
                              name: my-deployment2
                              port:
                                number: 80
                          path: /
                          pathType: Prefix
        rawResources:
          - apiVersion: v1
            kind: PersistentVolumeClaim
            metadata:
              annotations:
                pv.kubernetes.io/bind-completed: 'yes'
              finalizers:
                - kubernetes.io/pvc-protection
              name: test4
              namespace: ns2
            spec:
              accessModes:
                - ReadWriteMany
              resources:
                requests:
                  storage: 10Gi
              storageClassName: ''
              volumeMode: Filesystem
              volumeName: ns2-test4
          - apiVersion: v1
            kind: PersistentVolume
            metadata:
              annotations:
                pv.kubernetes.io/bound-by-controller: 'yes'
              finalizers:
                - kubernetes.io/pv-protection
              labels:
                mo-nfs-volume-identifier: nfs-server-pod-test4
                mo-nfs-volume-name: test4
              name: ns2-test4
            spec:
              accessModes:
                - ReadWriteMany
              capacity:
                storage: 10Gi
              claimRef:
                apiVersion: v1
                kind: PersistentVolumeClaim
                name: test4
                namespace: ns2
                resourceVersion: '2578137'
                uid: f48f5df2-a8e5-4f05-b1ae-be614ea7fbf9
              mountOptions:
                - nolock
              nfs:
                path: /exports
                server: 10.103.220.0
              persistentVolumeReclaimPolicy: Delete
              volumeMode: Filesystem
          - apiVersion: v1
            kind: PersistentVolumeClaim
            metadata:
              annotations:
                pv.kubernetes.io/bind-completed: 'yes'
                pv.kubernetes.io/bound-by-controller: 'yes'
                volume.beta.kubernetes.io/storage-provisioner: docker.io/hostpath
                volume.kubernetes.io/storage-provisioner: docker.io/hostpath
              finalizers:
                - kubernetes.io/pvc-protection
              labels:
                mo-nfs-volume-identifier: nfs-server-pod-test4
                mo-nfs-volume-name: test4
              name: nfs-server-pod-test4
              namespace: ns2
            spec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 10Gi
              storageClassName: hostpath
              volumeMode: Filesystem
              volumeName: pvc-5d6b985e-ba8a-4f5f-99b3-cb408d322230
          - apiVersion: v1
            kind: PersistentVolume
            metadata:
              annotations:
                docker.io/hostpath: /var/lib/k8s-pvs/nfs-server-pod-test4/pvc-5d6b985e-ba8a-4f5f-99b3-cb408d322230
                pv.kubernetes.io/provisioned-by: docker.io/hostpath
              finalizers:
                - kubernetes.io/pv-protection
              name: pvc-5d6b985e-ba8a-4f5f-99b3-cb408d322230
            spec:
              accessModes:
                - ReadWriteOnce
              capacity:
                storage: 10Gi
              claimRef:
                apiVersion: v1
                kind: PersistentVolumeClaim
                name: nfs-server-pod-test4
                namespace: ns2
                resourceVersion: '2578112'
                uid: 5d6b985e-ba8a-4f5f-99b3-cb408d322230
              hostPath:
                path: /var/lib/k8s-pvs/nfs-server-pod-test4/pvc-5d6b985e-ba8a-4f5f-99b3-cb408d322230
                type: ''
              persistentVolumeReclaimPolicy: Delete
              storageClassName: hostpath
              volumeMode: Filesystem
          - apiVersion: apps/v1
            kind: Deployment
            metadata:
              annotations: {}
              name: nfs-server-pod-test4
              namespace: ns2
            spec:
              progressDeadlineSeconds: 600
              replicas: 1
              revisionHistoryLimit: 10
              selector:
                matchLabels:
                  app: nfs-server-pod-test4
              strategy:
                rollingUpdate:
                  maxSurge: 25%
                  maxUnavailable: 25%
                type: RollingUpdate
              template:
                metadata:
                  labels:
                    app: nfs-server-pod-test4
                spec:
                  containers:
                    - image: ghcr.io/mogenius/nfs-server:latest
                      imagePullPolicy: Always
                      name: nfs-server
                      ports:
                        - containerPort: 2049
                          name: nfs
                          protocol: TCP
                        - containerPort: 2049
                          name: nfs-udp
                          protocol: UDP
                        - containerPort: 2045
                          name: mountd-2045
                          protocol: TCP
                        - containerPort: 2045
                          name: mountd-2045-udp
                          protocol: UDP
                        - containerPort: 2046
                          name: mountd-2046-tcp
                          protocol: TCP
                        - containerPort: 2046
                          name: mountd-2046-udp
                          protocol: UDP
                        - containerPort: 2047
                          name: mountd-2047
                          protocol: TCP
                        - containerPort: 2047
                          name: mountd-2047-udp
                          protocol: UDP
                        - containerPort: 2048
                          name: mountd
                          protocol: TCP
                        - containerPort: 2048
                          name: mountd-udp
                          protocol: UDP
                        - containerPort: 111
                          name: rpcbind
                          protocol: TCP
                        - containerPort: 111
                          name: rpcbind-udp
                          protocol: UDP
                      resources: {}
                      securityContext:
                        allowPrivilegeEscalation: true
                        privileged: true
                      terminationMessagePath: /dev/termination-log
                      terminationMessagePolicy: File
                      volumeMounts:
                        - mountPath: /exports
                          name: storage
                  dnsPolicy: ClusterFirst
                  restartPolicy: Always
                  schedulerName: default-scheduler
                  securityContext: {}
                  terminationGracePeriodSeconds: 30
                  volumes:
                    - name: storage
                      persistentVolumeClaim:
                        claimName: nfs-server-pod-test4
          - apiVersion: apps/v1
            kind: Deployment
            metadata:
              annotations:
                gitBranch: ''
                gitRepository: ''
              name: my-container-image-ka59qa
              namespace: ns2
            spec:
              progressDeadlineSeconds: 600
              replicas: 1
              revisionHistoryLimit: 10
              selector:
                matchLabels:
                  app: my-container-image-ka59qa
              strategy:
                rollingUpdate:
                  maxSurge: 25%
                  maxUnavailable: 25%
                type: RollingUpdate
              template:
                metadata:
                  labels:
                    app: my-container-image-ka59qa
                spec:
                  containers:
                    - image: redis:latest
                      imagePullPolicy: Always
                      name: redis
                      resources: {}
                      terminationMessagePath: /dev/termination-log
                      terminationMessagePolicy: File
                  dnsPolicy: ClusterFirst
                  imagePullSecrets:
                    - name: image-pull-secret-18-08-2025
                  restartPolicy: Always
                  schedulerName: default-scheduler
                  securityContext: {}
                  terminationGracePeriodSeconds: 30
