apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: workspace-test
  namespace: mogenius-argo-cd
  labels:
    managed-by: mogenius
    workspaceName: workspace1
spec:
  destination:
    name: in-cluster
    namespace: ns2
  syncPolicy:
    automated:
      prune: true
  project: mogenius
  source:
    repoURL: https://helm.mogenius.com/public
    targetRevision: 1.2.1
    chart: moac
    helm:
      releaseName: workspace-test
      valuesObject:
        configmaps: []
        sealedSecrets: []
        controllers: []
        services: []
        ingresses: []
        rawResources:
          - apiVersion: apps/v1
            kind: Deployment
            metadata:
              annotations:
                gitBranch: ''
                gitRepository: ''
              labels:
                hallo: test
              name: my-container-image-ka59qa
              namespace: ns2
            spec:
              progressDeadlineSeconds: 600
              replicas: 1
              revisionHistoryLimit: 10
              selector:
                matchLabels:
                  app: my-container-image-ka59qa
              strategy:
                rollingUpdate:
                  maxSurge: 25%
                  maxUnavailable: 25%
                type: RollingUpdate
              template:
                metadata:
                  labels:
                    app: my-container-image-ka59qa
                spec:
                  containers:
                    - image: redis:latest
                      imagePullPolicy: Always
                      name: redis
                      resources: {}
                      terminationMessagePath: /dev/termination-log
                      terminationMessagePolicy: File
                  dnsPolicy: ClusterFirst
                  imagePullSecrets:
                    - name: image-pull-secret-18-08-2025
                  restartPolicy: Always
                  schedulerName: default-scheduler
                  securityContext: {}
                  terminationGracePeriodSeconds: 30
