apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: workspace1-app1
  namespace: mogenius-argo-cd
  labels:
    managed-by: mogenius
    workspaceName: workspace1
spec:
  destination:
    name: in-cluster
    namespace: n1
  syncPolicy:
    automated:
      prune: true
  project: mogenius
  source:
    repoURL: https://helm.mogenius.com/public
    targetRevision: 1.2.1
    chart: moac
    helm:
      releaseName: app1
      valuesObject:
        rawResources:
          - apiVersion: apps/v1
            kind: Deployment
            metadata:
              name: my-container-image-yz7cfe
              namespace: n1
            spec:
              progressDeadlineSeconds: 600
              replicas: 1
              revisionHistoryLimit: 10
              selector:
                matchLabels:
                  app: my-container-image-yz7cfe
              strategy:
                rollingUpdate:
                  maxSurge: 25%
                  maxUnavailable: 25%
                type: RollingUpdate
              template:
                metadata:
                  labels:
                    app: my-container-image-yz7cfe
                spec:
                  containers:
                    - image: nginx:latest
                      imagePullPolicy: Always
                      name: nginx
                      terminationMessagePath: /dev/termination-log
                      terminationMessagePolicy: File
                  dnsPolicy: ClusterFirst
                  restartPolicy: Always
                  schedulerName: default-scheduler
                  terminationGracePeriodSeconds: 30
