apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: n2
  namespace: mogenius-argo-cd
  labels:
    managed-by: mogenius
spec:
  destination:
    name: in-cluster
    namespace: n2
  syncPolicy:
    automated:
      prune: true
      enabled: true
      allowEmpty: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  project: mogenius
  source:
    repoURL: https://helm.mogenius.com/public
    targetRevision: 1.2.2
    chart: moac
    helm:
      releaseName: n2
      valuesObject:
        services:
          - test:
              clusterIP: 10.107.236.238
              clusterIPs:
                - 10.107.236.238
              internalTrafficPolicy: Cluster
              ipFamilies:
                - IPv4
              ipFamilyPolicy: SingleStack
              ports:
                - name: 80-test
                  port: 80
                  protocol: TCP
                  targetPort: 80
              selector:
                app: test
              sessionAffinity: None
              type: ClusterIP
          - nfs-server-pod-n2vol:
              clusterIP: 10.102.183.78
              clusterIPs:
                - 10.102.183.78
              internalTrafficPolicy: Cluster
              ipFamilies:
                - IPv4
              ipFamilyPolicy: SingleStack
              ports:
                - name: nfs-udp
                  port: 2049
                  protocol: UDP
                  targetPort: 2049
                - name: nfs
                  port: 2049
                  protocol: TCP
                  targetPort: 2049
                - name: rpcbind
                  port: 111
                  protocol: TCP
                  targetPort: 111
                - name: port-946
                  port: 946
                  protocol: TCP
                  targetPort: 946
                - name: mountd-49135
                  port: 49135
                  protocol: TCP
                  targetPort: 49135
                - name: mountd-2048
                  port: 2048
                  protocol: TCP
                  targetPort: 2048
                - name: lockd-2045
                  port: 2045
                  protocol: TCP
                  targetPort: 2045
                - name: statd-2046
                  port: 2046
                  protocol: TCP
                  targetPort: 2046
                - name: statd-2047
                  port: 2047
                  protocol: TCP
                  targetPort: 2047
                - name: stadtd-2045-udp
                  port: 2045
                  protocol: UDP
                  targetPort: 2045
                - name: statd-2046-udp
                  port: 2046
                  protocol: UDP
                  targetPort: 2046
                - name: statd-2047-udp
                  port: 2047
                  protocol: UDP
                  targetPort: 2047
                - name: rpcbind-udp
                  port: 111
                  protocol: UDP
                  targetPort: 111
              selector:
                app: nfs-server-pod-n2vol
              sessionAffinity: None
              type: ClusterIP
          - my-container-image-1st5m4:
              clusterIP: 10.100.29.186
              clusterIPs:
                - 10.100.29.186
              internalTrafficPolicy: Cluster
              ipFamilies:
                - IPv4
              ipFamilyPolicy: SingleStack
              ports:
                - name: 80-my-container-image-1st5m4
                  port: 80
                  protocol: TCP
                  targetPort: 80
              selector:
                app: my-container-image-1st5m4
              sessionAffinity: None
              type: ClusterIP
        rawResources:
          - apiVersion: apps/v1
            kind: Deployment
            metadata:
              annotations:
                gitBranch: 33-hallo
                gitRepository: https://github.com/behrangalavi/nginx-repo.git
                gitWorkflow: mo-build-33-hallo.yaml
              name: test
              namespace: n2
            spec:
              progressDeadlineSeconds: 600
              replicas: 1
              revisionHistoryLimit: 10
              selector:
                matchLabels:
                  app: test
              strategy:
                rollingUpdate:
                  maxSurge: 25%
                  maxUnavailable: 25%
                type: RollingUpdate
              template:
                metadata:
                  labels:
                    app: test
                spec:
                  containers:
                    - image: ghcr.io/behrangalavi/image-behrangalavi-nginx-repo-33-hallo
                      imagePullPolicy: Always
                      name: test
                      terminationMessagePath: /dev/termination-log
                      terminationMessagePolicy: File
                  dnsPolicy: ClusterFirst
                  imagePullSecrets:
                    - name: image-pull-secret-ghcr-g0qwz1
                  restartPolicy: Always
                  schedulerName: default-scheduler
                  terminationGracePeriodSeconds: 30
          - apiVersion: apps/v1
            kind: Deployment
            metadata:
              name: nfs-server-pod-n2vol
              namespace: n2
            spec:
              progressDeadlineSeconds: 600
              replicas: 1
              revisionHistoryLimit: 10
              selector:
                matchLabels:
                  app: nfs-server-pod-n2vol
              strategy:
                rollingUpdate:
                  maxSurge: 25%
                  maxUnavailable: 25%
                type: RollingUpdate
              template:
                metadata:
                  labels:
                    app: nfs-server-pod-n2vol
                spec:
                  containers:
                    - image: ghcr.io/mogenius/nfs-server:latest
                      imagePullPolicy: Always
                      name: nfs-server
                      ports:
                        - containerPort: 2049
                          name: nfs
                          protocol: TCP
                        - containerPort: 2049
                          name: nfs-udp
                          protocol: UDP
                        - containerPort: 2045
                          name: mountd-2045
                          protocol: TCP
                        - containerPort: 2045
                          name: mountd-2045-udp
                          protocol: UDP
                        - containerPort: 2046
                          name: mountd-2046-tcp
                          protocol: TCP
                        - containerPort: 2046
                          name: mountd-2046-udp
                          protocol: UDP
                        - containerPort: 2047
                          name: mountd-2047
                          protocol: TCP
                        - containerPort: 2047
                          name: mountd-2047-udp
                          protocol: UDP
                        - containerPort: 2048
                          name: mountd
                          protocol: TCP
                        - containerPort: 2048
                          name: mountd-udp
                          protocol: UDP
                        - containerPort: 111
                          name: rpcbind
                          protocol: TCP
                        - containerPort: 111
                          name: rpcbind-udp
                          protocol: UDP
                      securityContext:
                        allowPrivilegeEscalation: true
                        privileged: true
                      terminationMessagePath: /dev/termination-log
                      terminationMessagePolicy: File
                      volumeMounts:
                        - mountPath: /exports
                          name: storage
                  dnsPolicy: ClusterFirst
                  restartPolicy: Always
                  schedulerName: default-scheduler
                  terminationGracePeriodSeconds: 30
                  volumes:
                    - name: storage
                      persistentVolumeClaim:
                        claimName: nfs-server-pod-n2vol
          - apiVersion: v1
            kind: PersistentVolumeClaim
            metadata:
              annotations:
                pv.kubernetes.io/bind-completed: 'yes'
                pv.kubernetes.io/bound-by-controller: 'yes'
                volume.beta.kubernetes.io/storage-provisioner: docker.io/hostpath
                volume.kubernetes.io/storage-provisioner: docker.io/hostpath
              finalizers:
                - kubernetes.io/pvc-protection
              labels:
                mo-nfs-volume-identifier: nfs-server-pod-n2vol
                mo-nfs-volume-name: n2vol
              name: nfs-server-pod-n2vol
              namespace: n2
            spec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 10Gi
              storageClassName: hostpath
              volumeMode: Filesystem
              volumeName: pvc-a6e0cd84-28cd-42bf-bcd6-8b3ccac9128f
          - apiVersion: apps/v1
            kind: Deployment
            metadata:
              annotations:
                gitBranch: ''
                gitRepository: ''
              name: my-container-image-1st5m4
              namespace: n2
            spec:
              progressDeadlineSeconds: 600
              replicas: 1
              revisionHistoryLimit: 10
              selector:
                matchLabels:
                  app: my-container-image-1st5m4
              strategy:
                rollingUpdate:
                  maxSurge: 25
                  maxUnavailable: 25
                type: RollingUpdate
              template:
                metadata:
                  labels:
                    app: my-container-image-1st5m4
                spec:
                  containers:
                    - env:
                        - name: test
                          value: '222'
                      image: nginx:latest
                      imagePullPolicy: Always
                      name: nginx
                      resources: {}
                      terminationMessagePath: /dev/termination-log
                      terminationMessagePolicy: File
                  dnsPolicy: ClusterFirst
                  restartPolicy: Always
                  schedulerName: default-scheduler
                  securityContext: {}
                  terminationGracePeriodSeconds: 30
          - apiVersion: v1
            kind: PersistentVolumeClaim
            metadata:
              finalizers:
                - kubernetes.io/pvc-protection
              name: n2vol
              namespace: n2
            spec:
              accessModes:
                - ReadWriteMany
              resources:
                requests:
                  storage: 10Gi
              storageClassName: ''
              volumeMode: Filesystem
              volumeName: n2-n2vol
          - apiVersion: v1
            kind: PersistentVolume
            metadata:
              annotations:
                pv.kubernetes.io/bound-by-controller: 'yes'
              finalizers:
                - kubernetes.io/pv-protection
              labels:
                mo-nfs-volume-identifier: nfs-server-pod-n2vol
                mo-nfs-volume-name: n2vol
              name: n2-n2vol
            spec:
              accessModes:
                - ReadWriteMany
              capacity:
                storage: 10Gi
              claimRef:
                apiVersion: v1
                kind: PersistentVolumeClaim
                name: n2vol
                namespace: n2
                resourceVersion: '2518883'
                uid: c04c0fee-7014-495a-aff8-e17605df0139
              mountOptions:
                - nolock
              nfs:
                path: /exports
                server: 10.104.54.159
              persistentVolumeReclaimPolicy: Delete
              volumeMode: Filesystem
        ingresses:
          - ingress-test:
              labels:
                mo-app: test
              ingressClassName: traefik
              rules:
                - host: test-9kosvg.local.mogenius.io
                  http:
                    paths:
                      - backend:
                          service:
                            name: test
                            port:
                              number: 80
                        path: /
                        pathType: Prefix
