apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: podinfo-1
  namespace: mogenius-argo-cd
  labels:
    managed-by: mogenius
spec:
  project: mogenius
  source:
    repoURL: https://stefanprodan.github.io/podinfo
    chart: podinfo
    targetRevision: 6.9.2
    helm:
      valueFiles:
        - values.yaml
  destination:
    name: in-cluster
    namespace: podinfo-1
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
