apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: podinfo-1
  namespace: mogenius-argo-cd
  labels:
    managed-by: mogenius
spec:
  project: mogenius
  sources:
    - repoURL: https://stefanprodan.github.io/podinfo
      chart: podinfo
      targetRevision: 6.3.1
      helm:
        valueFiles:
          - $values/mogenius/behrang-docker-desktop/testhelm/values.yaml

    - repoURL: https://github.com/behrangalavi/git-ops2.git
      targetRevision: main
      ref: values
  destination:
    name: in-cluster
    namespace: podinfo-1
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
