apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: podinfo
  namespace: mogenius-argo-cd
  labels:
    managed-by: mogenius
    mogenius-helm-repo-name: podinfo
spec:
  destination:
    name: in-cluster
    namespace: podinfo
  syncPolicy:
    automated:
      prune: true
      enabled: true
      allowEmpty: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  project: mogenius
  source:
    repoURL: https://stefanprodan.github.io/podinfo
    targetRevision: 6.9.2
    chart: podinfo
    helm:
      releaseName: podinfo
      valuesObject:
        replicaCount: 2
        logLevel: info
        host: null
        backend: null
        backends: []
        image:
          repository: ghcr.io/stefanprodan/podinfo
          tag: 6.9.2
          pullPolicy: IfNotPresent
        ui:
          color: '#34577c'
          message: ''
          logo: ''
        faults:
          delay: false
          error: false
          unhealthy: false
          unready: false
          testFail: false
          testTimeout: false
        service:
          enabled: true
          annotations: {}
          type: ClusterIP
          metricsPort: 9797
          httpPort: 9898
          externalPort: 9898
          grpcPort: 9999
          grpcService: podinfo
          nodePort: 31198
          hostPort: null
        h2c:
          enabled: false
        config:
          path: ''
          name: ''
        extraArgs: []
        tls:
          enabled: false
          secretName: null
          certPath: /data/cert
          port: 9899
          hostPort: null
        certificate:
          create: false
          issuerRef:
            kind: ClusterIssuer
            name: self-signed
          dnsNames:
            - podinfo
        hpa:
          enabled: false
          maxReplicas: 10
          cpu: null
          memory: null
          requests: null
        cache: ''
        redis:
          enabled: false
          repository: redis
          tag: 7.0.7
        serviceAccount:
          enabled: false
          name: null
          imagePullSecrets: []
        securityContext: {}
        podSecurityContext: {}
        ingress:
          enabled: false
          className: ''
          additionalLabels: {}
          annotations: {}
          hosts:
            - host: podinfo.local
              paths:
                - path: /
                  pathType: ImplementationSpecific
          tls: []
        linkerd:
          profile:
            enabled: false
        serviceMonitor:
          enabled: false
          interval: 15s
          additionalLabels: {}
        resources:
          limits: null
          requests:
            cpu: 1m
            memory: 16Mi
        extraEnvs: []
        nodeSelector: {}
        tolerations: []
        affinity: {}
        podAnnotations: {}
        topologySpreadConstraints: []
        podDisruptionBudget: {}
        probes:
          readiness:
            initialDelaySeconds: 1
            timeoutSeconds: 5
            failureThreshold: 3
            successThreshold: 1
            periodSeconds: 10
          liveness:
            initialDelaySeconds: 1
            timeoutSeconds: 5
            failureThreshold: 3
            successThreshold: 1
            periodSeconds: 10
          startup:
            enable: false
            initialDelaySeconds: 10
            timeoutSeconds: 5
            failureThreshold: 20
            successThreshold: 1
            periodSeconds: 10
