apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: test222
  namespace: mogenius-argo-cd
  labels:
    managed-by: mogenius
spec:
  destination:
    name: in-cluster
    namespace: mogenius-argo-cd
  syncPolicy:
    automated:
      prune: true
      enabled: true
      allowEmpty: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  project: mogenius
  source:
    repoURL: https://helm.mogenius.com/public
    targetRevision: 1.2.2
    chart: moac
    helm:
      releaseName: test222
      valuesObject:
        services:
          - nfs-server-pod-test:
              namespace: podinfo
              clusterIP: 10.106.21.121
              clusterIPs:
                - 10.106.21.121
              internalTrafficPolicy: Cluster
              ipFamilies:
                - IPv4
              ipFamilyPolicy: SingleStack
              ports:
                - name: nfs-udp
                  port: 2049
                  protocol: UDP
                  targetPort: 2049
                - name: nfs
                  port: 2049
                  protocol: TCP
                  targetPort: 2049
                - name: rpcbind
                  port: 111
                  protocol: TCP
                  targetPort: 111
                - name: port-946
                  port: 946
                  protocol: TCP
                  targetPort: 946
                - name: mountd-49135
                  port: 49135
                  protocol: TCP
                  targetPort: 49135
                - name: mountd-2048
                  port: 2048
                  protocol: TCP
                  targetPort: 2048
                - name: lockd-2045
                  port: 2045
                  protocol: TCP
                  targetPort: 2045
                - name: statd-2046
                  port: 2046
                  protocol: TCP
                  targetPort: 2046
                - name: statd-2047
                  port: 2047
                  protocol: TCP
                  targetPort: 2047
                - name: stadtd-2045-udp
                  port: 2045
                  protocol: UDP
                  targetPort: 2045
                - name: statd-2046-udp
                  port: 2046
                  protocol: UDP
                  targetPort: 2046
                - name: statd-2047-udp
                  port: 2047
                  protocol: UDP
                  targetPort: 2047
                - name: rpcbind-udp
                  port: 111
                  protocol: UDP
                  targetPort: 111
              selector:
                app: nfs-server-pod-test
              sessionAffinity: None
              type: ClusterIP
        ingresses:
          - ingress-podinfoprtest:
              annotations:
                cert-manager.io/cluster-issuer: letsencrypt-cluster-issuer
              labels:
                mo-app: podinfoprtest
              namespace: podinfo
              ingressClassName: traefik
              rules:
                - host: podinfoprtest-38b41q.local
                  http:
                    paths:
                      - backend:
                          service:
                            name: podinfoprtest
                            port:
                              number: 9898
                        path: /
                        pathType: Prefix
                - host: podinfoprtest-wyteq5.local
                  http:
                    paths:
                      - backend:
                          service:
                            name: podinfoprtest
                            port:
                              number: 9999
                        path: /
                        pathType: Prefix
              tls:
                - hosts:
                    - podinfoprtest-wyteq5.local
                  secretName: podinfoprtest-tls
        rawResources:
          - apiVersion: v1
            kind: PersistentVolume
            metadata:
              annotations:
                pv.kubernetes.io/bound-by-controller: 'yes'
              finalizers:
                - kubernetes.io/pv-protection
              labels:
                mo-nfs-volume-identifier: nfs-server-pod-test
                mo-nfs-volume-name: test
              name: podinfo-test
            spec:
              accessModes:
                - ReadWriteMany
              capacity:
                storage: 10Gi
              claimRef:
                apiVersion: v1
                kind: PersistentVolumeClaim
                name: test
                namespace: podinfo
                resourceVersion: '2332462'
                uid: b092d7fb-2c48-44b6-b7e4-a776d6b1cce4
              mountOptions:
                - nolock
              nfs:
                path: /exports
                server: 10.106.21.121
              persistentVolumeReclaimPolicy: Delete
              volumeMode: Filesystem
          - apiVersion: apps/v1
            kind: Deployment
            metadata:
              annotations:
                gitBranch: ''
                gitRepository: ''
              labels:
                app.kubernetes.io/name: podinfoprtest
                app.kubernetes.io/version: 6.10.1
              name: podinfoprtest
              namespace: podinfo
            spec:
              progressDeadlineSeconds: 600
              replicas: 1
              revisionHistoryLimit: 10
              selector:
                matchLabels:
                  app.kubernetes.io/name: podinfoprtest
              strategy:
                rollingUpdate:
                  maxSurge: 25%
                  maxUnavailable: 1
                type: RollingUpdate
              template:
                metadata:
                  annotations:
                    prometheus.io/port: '9898'
                    prometheus.io/scrape: 'true'
                  labels:
                    app.kubernetes.io/name: podinfoprtest
                spec:
                  containers:
                    - command:
                        - ./podinfo
                        - '--port=9898'
                        - '--cert-path=/data/cert'
                        - '--port-metrics=9797'
                        - '--grpc-port=9999'
                        - '--grpc-service-name=podinfo'
                        - '--level=info'
                        - '--random-delay=false'
                        - '--random-error=false'
                      env:
                        - name: PODINFO_UI_COLOR
                          value: '#34577c'
                        - name: ASas
                          value: ASasS
                      image: ghcr.io/stefanprodan/podinfo:6.10.1
                      imagePullPolicy: IfNotPresent
                      livenessProbe:
                        exec:
                          command:
                            - podcli
                            - check
                            - http
                            - localhost:9898/healthz
                        failureThreshold: 3
                        initialDelaySeconds: 1
                        periodSeconds: 10
                        successThreshold: 1
                        timeoutSeconds: 5
                      name: podinfo
                      ports:
                        - containerPort: 9898
                          name: http
                          protocol: TCP
                        - containerPort: 9797
                          name: http-metrics
                          protocol: TCP
                        - containerPort: 9999
                          name: grpc
                          protocol: TCP
                      readinessProbe:
                        exec:
                          command:
                            - podcli
                            - check
                            - http
                            - localhost:9898/readyz
                        failureThreshold: 3
                        initialDelaySeconds: 1
                        periodSeconds: 10
                        successThreshold: 1
                        timeoutSeconds: 5
                      resources:
                        requests:
                          cpu: 1m
                          memory: 16Mi
                      terminationMessagePath: /dev/termination-log
                      terminationMessagePolicy: File
                      volumeMounts:
                        - mountPath: /data
                          name: pvc-mount-mh0p7a
                          subPath: data
                  dnsPolicy: ClusterFirst
                  restartPolicy: Always
                  schedulerName: default-scheduler
                  serviceAccount: podinfoprtest-sa
                  serviceAccountName: podinfoprtest-sa
                  terminationGracePeriodSeconds: 30
                  volumes:
                    - name: pvc-mount-mh0p7a
                      persistentVolumeClaim:
                        claimName: test
          - apiVersion: apps/v1
            kind: Deployment
            metadata:
              labels:
                managed-by: mogenius
              name: test
              namespace: podinfo
            spec:
              progressDeadlineSeconds: 600
              replicas: 2
              revisionHistoryLimit: 10
              selector:
                matchLabels:
                  app: test
              strategy:
                rollingUpdate:
                  maxSurge: 25%
                  maxUnavailable: 25%
                type: RollingUpdate
              template:
                metadata:
                  labels:
                    app: test
                    managed-by: mogenius
                spec:
                  containers:
                    - image: nginx:latest
                      imagePullPolicy: Always
                      name: test
                      ports:
                        - containerPort: 80
                          protocol: TCP
                      terminationMessagePath: /dev/termination-log
                      terminationMessagePolicy: File
                  dnsPolicy: ClusterFirst
                  restartPolicy: Always
                  schedulerName: default-scheduler
                  terminationGracePeriodSeconds: 30
          - apiVersion: apps/v1
            kind: Deployment
            metadata:
              labels:
                app: nginx
                created-by: behrang
                managed-by: mogenius
              name: nginx-deployment
              namespace: podinfo
            spec:
              progressDeadlineSeconds: 600
              replicas: 1
              revisionHistoryLimit: 10
              selector:
                matchLabels:
                  app: nginx
              strategy:
                rollingUpdate:
                  maxSurge: 25%
                  maxUnavailable: 25%
                type: RollingUpdate
              template:
                metadata:
                  labels:
                    app: nginx
                    created-by: behrang
                    managed-by: mogenius
                spec:
                  containers:
                    - image: nginx:latest
                      imagePullPolicy: Always
                      name: nginx
                      ports:
                        - containerPort: 80
                          protocol: TCP
                      terminationMessagePath: /dev/termination-log
                      terminationMessagePolicy: File
                  dnsPolicy: ClusterFirst
                  restartPolicy: Always
                  schedulerName: default-scheduler
                  terminationGracePeriodSeconds: 30
          - apiVersion: apps/v1
            kind: Deployment
            metadata:
              name: nfs-server-pod-test
              namespace: podinfo
            spec:
              progressDeadlineSeconds: 600
              replicas: 1
              revisionHistoryLimit: 10
              selector:
                matchLabels:
                  app: nfs-server-pod-test
              strategy:
                rollingUpdate:
                  maxSurge: 25%
                  maxUnavailable: 25%
                type: RollingUpdate
              template:
                metadata:
                  labels:
                    app: nfs-server-pod-test
                spec:
                  containers:
                    - image: ghcr.io/mogenius/nfs-server:latest
                      imagePullPolicy: Always
                      name: nfs-server
                      ports:
                        - containerPort: 2049
                          name: nfs
                          protocol: TCP
                        - containerPort: 2049
                          name: nfs-udp
                          protocol: UDP
                        - containerPort: 2045
                          name: mountd-2045
                          protocol: TCP
                        - containerPort: 2045
                          name: mountd-2045-udp
                          protocol: UDP
                        - containerPort: 2046
                          name: mountd-2046-tcp
                          protocol: TCP
                        - containerPort: 2046
                          name: mountd-2046-udp
                          protocol: UDP
                        - containerPort: 2047
                          name: mountd-2047
                          protocol: TCP
                        - containerPort: 2047
                          name: mountd-2047-udp
                          protocol: UDP
                        - containerPort: 2048
                          name: mountd
                          protocol: TCP
                        - containerPort: 2048
                          name: mountd-udp
                          protocol: UDP
                        - containerPort: 111
                          name: rpcbind
                          protocol: TCP
                        - containerPort: 111
                          name: rpcbind-udp
                          protocol: UDP
                      securityContext:
                        allowPrivilegeEscalation: true
                        privileged: true
                      terminationMessagePath: /dev/termination-log
                      terminationMessagePolicy: File
                      volumeMounts:
                        - mountPath: /exports
                          name: storage
                  dnsPolicy: ClusterFirst
                  restartPolicy: Always
                  schedulerName: default-scheduler
                  terminationGracePeriodSeconds: 30
                  volumes:
                    - name: storage
                      persistentVolumeClaim:
                        claimName: nfs-server-pod-test
          - apiVersion: v1
            kind: ServiceAccount
            metadata:
              labels:
                app: podinfoprtest
                managed-by: mogenius-ai
              name: podinfoprtest-sa
              namespace: podinfo
          - apiVersion: v1
            kind: PersistentVolumeClaim
            metadata:
              annotations:
                pv.kubernetes.io/bind-completed: 'yes'
              finalizers:
                - kubernetes.io/pvc-protection
              name: test
              namespace: podinfo
            spec:
              accessModes:
                - ReadWriteMany
              resources:
                requests:
                  storage: 10Gi
              storageClassName: ''
              volumeMode: Filesystem
              volumeName: podinfo-test
          - apiVersion: v1
            kind: PersistentVolumeClaim
            metadata:
              annotations:
                pv.kubernetes.io/bind-completed: 'yes'
                pv.kubernetes.io/bound-by-controller: 'yes'
                volume.beta.kubernetes.io/storage-provisioner: docker.io/hostpath
                volume.kubernetes.io/storage-provisioner: docker.io/hostpath
              finalizers:
                - kubernetes.io/pvc-protection
              labels:
                mo-nfs-volume-identifier: nfs-server-pod-test
                mo-nfs-volume-name: test
              name: nfs-server-pod-test
              namespace: podinfo
            spec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 10Gi
              storageClassName: hostpath
              volumeMode: Filesystem
              volumeName: pvc-9728f229-d6ea-4f0a-9d1a-3cfb3dfa7e5b
          - apiVersion: rbac.authorization.k8s.io/v1
            kind: RoleBinding
            metadata:
              name: podinfoprtest-rolebinding
              namespace: podinfo
            roleRef:
              apiGroup: rbac.authorization.k8s.io
              kind: Role
              name: podinfoprtest-role
            subjects:
              - kind: ServiceAccount
                name: podinfoprtest-sa
                namespace: podinfo
