apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: test2
  namespace: mogenius-argo-cd
  labels:
    managed-by: mogenius
spec:
  destination:
    name: in-cluster
    namespace: test2
  syncPolicy:
    automated:
      prune: true
      enabled: true
      allowEmpty: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  project: mogenius
  source:
    repoURL: https://helm.mogenius.com/public
    targetRevision: 1.2.2
    chart: moac
    helm:
      releaseName: test2
      valuesObject:
        services:
          - my-container-image-r3d3gc:
              clusterIP: 10.101.140.168
              clusterIPs:
                - 10.101.140.168
              internalTrafficPolicy: Cluster
              ipFamilies:
                - IPv4
              ipFamilyPolicy: SingleStack
              ports:
                - name: 80-my-container-image-r3d3gc
                  port: 80
                  protocol: TCP
                  targetPort: 80
              selector:
                app: my-container-image-r3d3gc
              sessionAffinity: None
              type: ClusterIP
        rawResources:
          - apiVersion: apps/v1
            kind: Deployment
            metadata:
              annotations:
                gitBranch: ''
                gitRepository: ''
                test: hallo2
              name: my-container-image-r3d3gc
              namespace: test2
            spec:
              progressDeadlineSeconds: 600
              replicas: 2
              revisionHistoryLimit: 10
              selector:
                matchLabels:
                  app: my-container-image-r3d3gc
              strategy:
                rollingUpdate:
                  maxSurge: 25%
                  maxUnavailable: 25%
                type: RollingUpdate
              template:
                metadata:
                  labels:
                    app: my-container-image-r3d3gc
                spec:
                  containers:
                    - image: nginx:latest
                      imagePullPolicy: Always
                      name: nginx
                      terminationMessagePath: /dev/termination-log
                      terminationMessagePolicy: File
                  dnsPolicy: ClusterFirst
                  restartPolicy: Always
                  schedulerName: default-scheduler
                  terminationGracePeriodSeconds: 30
        ingresses:
          - ingress-my-container-image-r3d3gc:
              labels:
                mo-app: my-container-image-r3d3gc
              ingressClassName: traefik
              rules:
                - host: my-container-image-r3d3gc-q8s0n8.local.mogenius.io
                  http:
                    paths:
                      - backend:
                          service:
                            name: my-container-image-r3d3gc
                            port:
                              number: 80
                        path: /
                        pathType: Prefix
