apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: test2
  namespace: mogenius-argo-cd
  labels:
    managed-by: mogenius
spec:
  destination:
    name: in-cluster
    namespace: n2
  syncPolicy:
    automated:
      prune: true
    syncOptions:
      - CreateNamespace=true
  project: mogenius
  source:
    repoURL: https://helm.mogenius.com/public
    targetRevision: 1.2.2
    chart: moac
    helm:
      releaseName: test2
      valuesObject:
        services:
          - my-container-image-mmfoyj:
              clusterIP: 10.107.140.187
              clusterIPs:
                - 10.107.140.187
              internalTrafficPolicy: Cluster
              ipFamilies:
                - IPv4
              ipFamilyPolicy: SingleStack
              ports:
                - name: 80-my-container-image-mmfoyj
                  port: 8080
                  protocol: TCP
                  targetPort: 80
              selector:
                app: my-container-image-mmfoyj
              sessionAffinity: None
              type: ClusterIP
        rawResources:
          - null
