apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: test22
  namespace: mogenius-argo-cd
  labels:
    managed-by: mogenius
spec:
  destination:
    name: in-cluster
    namespace: mogenius-argo-cd
  syncPolicy:
    automated:
      prune: true
      enabled: true
      allowEmpty: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  project: mogenius
  source:
    repoURL: https://helm.mogenius.com/public
    targetRevision: 1.2.2
    chart: moac
    helm:
      releaseName: test22
      valuesObject:
        rawResources:
          - apiVersion: v1
            kind: PersistentVolume
            metadata:
              annotations:
                pv.kubernetes.io/bound-by-controller: 'yes'
              finalizers:
                - kubernetes.io/pv-protection
              labels:
                mo-nfs-volume-identifier: nfs-server-pod-test
                mo-nfs-volume-name: test
              name: podinfo-test
            spec:
              accessModes:
                - ReadWriteMany
              capacity:
                storage: 10Gi
              claimRef:
                apiVersion: v1
                kind: PersistentVolumeClaim
                name: test
                namespace: podinfo
                resourceVersion: '2332462'
                uid: b092d7fb-2c48-44b6-b7e4-a776d6b1cce4
              mountOptions:
                - nolock
              nfs:
                path: /exports
                server: 10.106.21.121
              persistentVolumeReclaimPolicy: Delete
              volumeMode: Filesystem
          - apiVersion: v1
            kind: ServiceAccount
            metadata:
              labels:
                app: podinfoprtest
                managed-by: mogenius-ai
              name: podinfoprtest-sa
              namespace: podinfo
          - apiVersion: v1
            kind: PersistentVolumeClaim
            metadata:
              annotations:
                pv.kubernetes.io/bind-completed: 'yes'
              finalizers:
                - kubernetes.io/pvc-protection
              name: test
              namespace: podinfo
            spec:
              accessModes:
                - ReadWriteMany
              resources:
                requests:
                  storage: 10Gi
              storageClassName: ''
              volumeMode: Filesystem
              volumeName: podinfo-test
          - apiVersion: apps/v1
            kind: Deployment
            metadata:
              annotations:
                gitBranch: ''
                gitRepository: ''
              labels:
                app.kubernetes.io/name: podinfoprtest
                app.kubernetes.io/version: 6.10.1
              name: podinfoprtest
              namespace: podinfo
            spec:
              progressDeadlineSeconds: 600
              replicas: 1
              revisionHistoryLimit: 10
              selector:
                matchLabels:
                  app.kubernetes.io/name: podinfoprtest
              strategy:
                rollingUpdate:
                  maxSurge: 25%
                  maxUnavailable: 1
                type: RollingUpdate
              template:
                metadata:
                  annotations:
                    prometheus.io/port: '9898'
                    prometheus.io/scrape: 'true'
                  labels:
                    app.kubernetes.io/name: podinfoprtest
                spec:
                  containers:
                    - command:
                        - ./podinfo
                        - '--port=9898'
                        - '--cert-path=/data/cert'
                        - '--port-metrics=9797'
                        - '--grpc-port=9999'
                        - '--grpc-service-name=podinfo'
                        - '--level=info'
                        - '--random-delay=false'
                        - '--random-error=false'
                      env:
                        - name: PODINFO_UI_COLOR
                          value: '#34577c'
                        - name: ASas
                          value: ASasS
                      image: ghcr.io/stefanprodan/podinfo:6.10.1
                      imagePullPolicy: IfNotPresent
                      livenessProbe:
                        exec:
                          command:
                            - podcli
                            - check
                            - http
                            - localhost:9898/healthz
                        failureThreshold: 3
                        initialDelaySeconds: 1
                        periodSeconds: 10
                        successThreshold: 1
                        timeoutSeconds: 5
                      name: podinfo
                      ports:
                        - containerPort: 9898
                          name: http
                          protocol: TCP
                        - containerPort: 9797
                          name: http-metrics
                          protocol: TCP
                        - containerPort: 9999
                          name: grpc
                          protocol: TCP
                      readinessProbe:
                        exec:
                          command:
                            - podcli
                            - check
                            - http
                            - localhost:9898/readyz
                        failureThreshold: 3
                        initialDelaySeconds: 1
                        periodSeconds: 10
                        successThreshold: 1
                        timeoutSeconds: 5
                      resources:
                        requests:
                          cpu: 1m
                          memory: 16Mi
                      terminationMessagePath: /dev/termination-log
                      terminationMessagePolicy: File
                      volumeMounts:
                        - mountPath: /data
                          name: pvc-mount-mh0p7a
                          subPath: data
                  dnsPolicy: ClusterFirst
                  restartPolicy: Always
                  schedulerName: default-scheduler
                  serviceAccount: podinfoprtest-sa
                  serviceAccountName: podinfoprtest-sa
                  terminationGracePeriodSeconds: 30
                  volumes:
                    - name: pvc-mount-mh0p7a
                      persistentVolumeClaim:
                        claimName: test
